<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Währungsrechner</title>  
        <link rel="stylesheet" href="styles.css">  
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>   
        <div>
                <h1><img width="100" src="/images/space-bank.png"/>N27 Bank</h1>        
        </div>        
        <hr>
        <div>         
            <form action="" method="POST">        
                <input type="text" name="fremdwaehrung" id="fremdwaehrung" placeholder="Fremdwährung (z.B. USD)">                                                        
                <input type="text" name="menge" id="menge" placeholder="Betrag">                                        
                <button id="btnUmrechnen"><%= anzeigen %></button>
            </form>            
        </div>
    </body>
</html>